<% include ../partials/accountHeader.ejs %>
<div class="registerContainer">
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <div class="formContainer">
                <h2 class="text-center heading">Registration successful</h2>
                <div class="text-center">
                    <img src="https://i.imgur.com/SVlDEDS.png" class="confirmationImage">
                    <h4>Please check your email to activate your account</h4>
                    <br>
                    <a href="/account/login" class="btn">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>