<!DOCTYPE html>
<html>
<head>
	<title>Matcha</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/fonts/stylesheet.css">
    <link rel="icon" href="/favicon.ico">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">
						<img src="https://i.imgur.com/3lhgs2W.png">
					</a>
                </div>
                <div class="pull-right" style="margin-top: 7px;">
                    <a href="/account/login" class="btn">Login</a>
                    <a href="/account/register" class="btn">Register</a>
                </div>
		</div>
	</nav>
	