<% include partials/header.ejs %>
<div class="registerContainer">
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <div class="formContainer">
                <h3 class="text-center heading">Register</h3>
                
            </div>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>