/*___________ Global ___________*/
/*Sizing & Transition*/
*, *:after, *:before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}
html {
    height: 100%;
}
body {
    margin: 60px 0 0 0;
    padding: 0;
    height: 100%;
    color: #ffffff;
    background-color: #111111;
    font-family: 'matcha-regular';
    font-size: 15px !important;
    letter-spacing: 0.4px;
}

/* Font-Face */
.matcha-bold {
    font-family: 'matcha-bold' !important;
}
.matcha-regular {
    font-family: 'matcha-regular' !important;
}
.matcha-thin {
    font-family: 'matcha-thin' !important;
}
.font-default {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    color: red;
}
a:hover {
    color: #D71717;
}
p, label { 
    font-size: 14px;
    font-weight: normal;
}
.heading {
    font-family: 'matcha-regular';
    letter-spacing: 0.4px;
    font-weight: normal !important;
}
.form-control {
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    height: 40px;
    margin: 0px 0px 20px 0px;
}
.button {
    color: #ffffff;
    background-color: #D71717;
    border-radius: 0px !important;
    width: 150px;
    height: 40px;
    /* padding: 8px 0 5px 0; */
    font-family: 'matcha-regular';
    font-weight: normal;
    font-size: 14px !important;
    letter-spacing: 0.4px;
}
.button:hover {
    color: #ffffff;
    background-color: rgb(161, 19, 19);
    border-radius: 0px !important;
    width: 150px;
    height: 40px;
    padding: 8px 0 5px 0;
}
.button:focus {
    color: #ffffff;
    background-color: rgb(161, 19, 19);
    border-radius: 0px !important;
}
.navbar {
    border-radius: 0px;
}
.navbar-brand>img {
    height: 36px;
    margin-top: -6px;
}
.footer {
    min-height: 20px;
}

.registerContainer {
    position: relative;
    background: url('https://i.imgur.com/U6hX1FI.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 92% !important;
    width: 100% !important;
    overflow-x: hidden !important;
}
.formContainer {
    margin: 92px 35px 35px 35px;
    padding: 35px;
    color: #ffffff;
    background-color: #2A2E32;
}
.formValidationMessage {
    color: red;
    margin: 0 !important;
}
.confirmationImage {
    width: 200px;
    height: 200px;
}
.formLabel {
    font-family: 'matcha-regular';
    letter-spacing: 0.4px;
    font-weight: normal !important;
}
.setupProfileContainer {
    border-radius: 0px !important;
    background-color: #2A2E32;
    border: none;
    margin: 20px 0 40px 0;
    padding: 0px 60px 10px 60px !important;
}
.halfInputLeft {
    width: 50%;
    padding-right: 5px;
}
.halfInputRight {
    width: 50%;
    padding-left: 5px;
}
.setupProfileTempImage {
    width: 220px;
}
.fileUploadButton {
    display: inline-block !important;
    width: 330px;
    padding: 10px;
    height: 45px;
}
.fileUploadButton:hover {
    display: inline-block !important;
    width: 330px;
    padding: 10px;
    height: 45px;
}
.setupImageContainer {
    display: block;
}

.setupImage {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    width: 95%;
}
.locationImage {
    width: 200px;
}
.profileImage {
    width: 100px;
    height: 100px;
}
.well {
    border-radius: 0;
    background-color: #2A2E32;
    border: 1px solid rgba(0,0,0, 0.5);
    color:#ffffff;
}
.profileCard {
    margin-left: -15px;
    margin-right: -15px;
}
.profileCardInfo {
    font-size: 25px;
    margin: 25px 1px 25px 115px;
}
.profileCardDetails {
    width: 100%;
    margin: 0px 0px 0px 0px;
}
.profileCardBio {
    font-size: 18px;
}
.profileCardLabel {
    color: grey;
    margin: 0px;
}
.profileCardAgeCity {
    font-size: 18px;
    color: grey;
}
.navbarButtonContainer {
    margin-top: 7px;
    width: 77px;
}
.navbarLogoutButton {
    width: 36px;
    height: 36px;
    display: block;
    float: left;
}
.navbarSettingsButton {
    width: 36px;
    height: 36px;
    display: block;
    float: left;
    margin-right: 5px;
}
.editProfileContainer {
    margin: 0 -15px 0 -15px;
}
.panel {
    background-color: #000000;
}
.jumbotron {
    background-color: #232323;
    border-radius: 0px !important;
    padding: 20px 20px 20px 20px !important;
}
.jumbotron p {
    font-size: 15px;
}
.profileImageContainer {
    width: 50%;
    float: left;
}
.profileImageContainer img {
    width: 100px;
    height: 100px;
}
.profileCardUsernameContainer {
    width: 50%;
    float: left;
    margin: 20px 0 20px 0;
}
.profileCardTagLine {
    width: 100%;
}
.menuItem {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #303030;
    margin: 10px 0 10px 0;
    text-decoration: none !important;
    color: #ffffff;
    border: 0px;
}
.menuItem:hover {
    background-color: darkred;
    color: #ffffff;
}
.menuItem.active {
    background-color: darkred;
    color: #ffffff;
}
.uploadImgTemp {
    width: 180px;
    height: 180px;
}
.uploadImgSmall {
    width: 150px;
    height: 150px;
}
.successMessage {
    font-size: 20px !important;
    background-color: green;
    padding: 15px;
    margin-top: 6px;
}
.errorMessage {
    font-size: 20px !important;
    background-color: darkred;
    padding: 15px;
    margin-top: 6px;
}
.viewProfileImage {
    position: relative;
    width: 50%;
    float: left;
}

.viewProfileInfo {
    position: relative;
    padding: 0px 20px 0 20px;
    margin-left: 50%;
}

.viewProfileInfo p {
    margin-bottom: 0px;
}
.border {
    border: 1px solid black;
    background-color: black;
    padding: 10px 5px 10px 5px;
    margin: 5px 0 5px 0;
}
.border p {
    margin-bottom: 0px;
}
.viewProfileImageGallery {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: black;
    float: left;
}
.viewProfileImageThumb {
    width:25%;
    float: left;
}
.wordwrap {     
    word-wrap: break-word;
 }
 .username {
     position: relative;
 }
 input, select, option {
     background-color: black;
 }
 .searchAgeInput {
     width: 30px;
     padding: 0 3px 0 3px;
 }
 .searchResultCard {
    position: relative;
    background-color: #232323;
    /* width: 49%; */
    float: left;
    margin: 2px;
    padding: 5px;
 }
 .searchResultCardImage {
     width: 100%;
     padding: 10px;
 }

.searchResultCardInfo {
    padding: 0px 10px 0px 10px
}

 .searchResultCardTagLine {
     width: 100%;
     padding: 10px;
 }
 .image_input {
     width: 100% !important;
 }
 .card {
     width: 100%;
     height: 100%;
     overflow: hidden;
     padding: 20px;
     margin-bottom: 35px;
     background-color: #232323;
 }
 .modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(48, 48, 48, .4 ) 
                url('https://i.imgur.com/WVcDnHG.gif') 
                50% 50% 
                no-repeat/10%;
}
body.loading {
    overflow: hidden;   
}
body.loading .modal {
    display: block;
}
.sortButton {
    background-color:#303030 ;
    color: #D71717;
    border:1px solid #D71717;
    border-radius: 0px;
}
.sortButton:hover {
    background-color:black ;
    color: #D71717;
    border:1px solid #D71717;
    border-radius: 0px;
}
.sortButton:focus {
    background-color:black ;
    color: #D71717;
    border:1px solid #D71717;
    border-radius: 0px;
}
.sortButton:active {
    background-color:black ;
    color: #D71717;
    border:1px solid #D71717;
    border-radius: 0px;
}
.sidebar {
    background-color: #232323;
    margin: 60px 10px 20px 10px;
    padding: 10px 10px 25px 10px;
    width: 300px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}
.grid-item {
    float: left;
    width: 245px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
    background-color: #232323;
}
.main {
    margin-left: 300px;
    padding: 0px 10px 0px 10px;

}

@media only screen and (max-width: 992px) {
    .setupImageContainer {
        display: none;
    }
}

@media only screen and (max-width: 768px){
    .viewProfileInfo {
        position: relative;
        width: 100%;
        padding: 0px 20px 0 20px;
    }
    .viewProfileImage {
        position: relative;
        width: 100%;
    }
}

@media only screen and (max-width: 415px) {
    .grid-item {
        width: 100%;
        border: 2px solid hsla(0, 0%, 0%, 0.5);
        background-color: #232323;
    }
}
.isotope-item {
    z-index: 2;
  }
   
  .isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
  }
   
  .isotope,
  .isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
       -moz-transition-duration: 0.8s;
            transition-duration: 0.8s;
  }
   
  .isotope {
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
            transition-property: height, width;
  }
   
  .isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
       -moz-transition-property:    -moz-transform, opacity;
            transition-property:         transform, opacity;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #303030;
    width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #D71717;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #000000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.searchResultName {
    width: 100%;
    position: relative;
    height: 55px;
}