<% include ../partials/header.ejs %>
<div class="row">
    <div class="col-md-4">
        <h4>Matches</h4>
    </div>
    <div class="col-md-8">
        <h4></h4>
    </div>
</div>
<% include ../partials/footer.ejs %>
